<footer class="site-footer">
  <span class="site-footer-credits">
    Copyright © 2017-2018
    <a href='https://github.com/blackchestnut'>Alexander Kalinichev</a>
  </span>
  <span class="site-footer-links">
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms of Service</a>
    <a href="mailto:alex@agileseason.com">Support</a>
  </span>
  <div class="site-footer-remark">
    Agile Season is not a representative of GitHub.
    All trademarks, trade names, service marks and logos referenced herein
    belong to their respective companies
  </div>
</footer>
